.jcarousel-next-horizontal, .jcarousel-prev-horizontal { cursor: pointer; display: block; overflow: hidden; position: absolute; text-indent: -1983em; }
.jcarousel-next-disabled-horizontal, .jcarousel-next-disabled-horizontal:hover, .jcarousel-prev-disabled-horizontal, .jcarousel-prev-disabled-horizontal:hover { cursor: default; }

/* Jcarousel Horizontal */
.jcarousel .jcarousel-item { height: 80px; padding: 0 10px 20px; width: 150px; }
.jcarousel .jcarousel-clip-horizontal { margin: 0 auto; width: 916px; }
.jcarousel .jcarousel-next-horizontal, .jcarousel .jcarousel-prev-horizontal { background-image: url(jcarousel-images/ico-arrow-1.gif); height: 51px; top: 12px; width: 13px; }
.jcarousel .jcarousel-next-horizontal { background-position: -13px top; right: 25px; }
.jcarousel .jcarousel-next-horizontal:hover { background-position: -13px -51px; }
.jcarousel .jcarousel-prev-horizontal { background-position: left top; left: 25px; }
.jcarousel .jcarousel-prev-horizontal:hover { background-position: left -51px; }
.jcarousel .jcarousel-next-disabled-horizontal, .jcarousel .jcarousel-next-disabled-horizontal:hover { background-position: -13px -102px; }
.jcarousel .jcarousel-prev-disabled-horizontal, .jcarousel .jcarousel-prev-disabled-horizontal:hover { background-position: left -102px; }