.partners { width: 100%; overflow: hidden; padding: 0px; }

.partners ul, .partners ul li, .partners ul li img { float: left; }
.partners ul li { padding: 0 3px; }
.partners ul li img { border: #f0f0f0 solid 1px; height: 73px; width: 148px; }
.partners ul li img:hover { border-color: #900; }

/*------- Fix for IE7 ------*/
.grid_3 .partners .simply-scroll-clip{ width: 215px; }
.grid_4 .partners .simply-scroll-clip{ width: 395px; }
.grid_5 .partners .simply-scroll-clip{ width: 375px; }
.grid_6 .partners .simply-scroll-clip{ width: 455px; }
.grid_7 .partners .simply-scroll-clip{ width: 535px; }
.grid_8 .partners .simply-scroll-clip{ width: 615px; }
.grid_9 .partners .simply-scroll-clip{ width: 695px; }
.grid_10 .partners .simply-scroll-clip{ width: 775px; }
.grid_11 .partners .simply-scroll-clip{ width: 855px; }
.grid_12 .partners .simply-scroll-clip{ width: 935px; }